spring:
  thymeleaf:
    #不使用缓存
    cache: false
  #数据源配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/seckill?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8
    username: root
    password: 1021
    type: com.alibaba.druid.pool.DruidDataSource #使用druid数据库连接池
    druid:
      #最小的空闲连接数量
      min-idle: 5
      initial-size: 5
      max-active: 20
      #获取连接的最大等待时间
      max-wait: 60000
      ##每隔timeBetweenEvictionRunsMillis毫秒检查空闲连接的非运行时间是否超过minEvictableIdleTimeMillis
      timeBetweenEvictionRunsMillis: 60000
      #空闲连接的最小存活时间
      minEvictableIdleTimeMillis: 300000
      #当空闲时测试连接是否有效
      testWhileIdle: true
      #获取连接时是否测试连接有效
      testOnBorrow: false
      #归还连接时是否测试连接有效
      testOnReturn: false
      #向数据库发送指定语句验证连接是否有效
      validationQuery: SELECT 1
  # redis配置
  redis:
    host: 127.0.0.1
    password: 1021
    port: 6379
    #获取结果的超时时间
    timeout: 10000ms
    lettuce:
      pool:
        #最大连接数
        max-active: 8
        #最大连接阻塞等待时间，默认为-1
        max-wait: 10000ms
#mybatisplus配置
mybatis-plus:
  #映射文件配置
  mapper-locations: classpath:/mapper/*Mapper.xml
  #指定包下的类自定义别名，默认为类名或者类名首字母小写
  type-aliases-package: com.example.seckill.pojo


#打印SQL语句
logging:
  level:
    com.example.seckill.mapper: debug